*
{
    box-sizing: border-box;
    padding:0;
    margin:0;
    /*border:1px solid black;*/
}

/*to fade in the subNav when we display it*/
@keyframes fade_in_show {
    0% {
         opacity: 0;
         transform: scale(0)
    }

    100% {
         opacity: 1;
         transform: scale(1)
    }
}

/*to fade out the subNav before display none (settimeout)*/
@keyframes fade_out_show {
    0% {
         opacity: 1;
         transform: scale(0)
    }

    100% {
         opacity: 0;
         transform: scale(1)
    }
}

.form
{
    width:80%;
    min-width: 200px;
    margin:auto auto;
}

img
{
    width:50%;
    display:block;
    margin:20px auto 0px auto;

}


#container
{
    width:80%;
    min-width:300px;
    margin:0px auto;
    padding:5px;
    background-color: beige;
    min-height:100vh;
}
body
{
    background-color: brown;
}
.form div
{
    margin:10px 
}
input
{
    font-size: 20px;
    width:100px;
    color:brown;
    font-weight: 700;
}

table tr
{
    padding:2px;
}
table th, table td
{
    padding:5px 0px;
    border-bottom: 1px solid ;
    width:150px; /*giving it a bigger size to make all the cells igual (insight and data table) */
    text-align:center
}
table
{
    margin: auto auto;
    border:2px solid brown;
    width:80%;

}

#insight
{
    background-color: rgb(209, 194, 194);
    color:black;
    margin-bottom: 30px;
}


#data, #suppliersTable
{
    background-color: rgb(204, 191, 191);
}
button
{
    margin: auto auto;
    display:block;
    padding:15px;
    border:none;
    background-color: brown;
    color:white;
    margin-bottom: 30px;
    border:none;
   
}

#s:active
{
    background-color: black;
}

hr
{
    background-color: grey;
    margin:10px;
  
}
span
{
    color:brown;
    font-size:35px
}

h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
.dev
{
    font-style: italic;
    font-size:8px;
    padding-bottom:20px;
    font-weight: 800;
    margin-top:-3px;
    text-align:center;

}


.flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



#totalProfit,#treturn,#tProfit,#avgProfit
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#navHeading ul
{
    display: flex;
    width:100%;
    justify-content: space-around;
    background-color: black;
    padding:15px;


}



.canvas
{
    
    min-height: 200px;
   
    overflow: scroll;
}


@media only screen and (max-width: 600px) {
    table th, table td{
        font-size:10px;
    }
    .canvas{
        width:300px;
        margin:auto auto;
        display:block;
    }
    
#container{
    width:auto;
}
img{
    width:80%;
}

  }

#info{
    color:red;
    font-style: italic;
    font-weight: bold;
    font-size: 10px;
    margin:0px auto;
    display:block;
    text-align: center;
}

a{
    color:white;
    text-decoration: none;
    
}


#subNav{
    display:none;
    background-color: brown;
    
}

#subNav li{
    padding:5px 10px;

}


#suppliersTable{
    display:none;
}

li{
    list-style-type: none;
    padding-left: 10px;
}